<h4>EllaJune Community Guidelines</h4>
<p>In order to foster a positive and empowering space, we have created community guidelines that we ask all of our members to follow. These guidelines are ever-evolving so we encourage our members to constantly participate in the revising process so that we can create the most loving online community possible.</p> 
<ul>
<li><blockquote>Only use this space to share things that will inspire, empower and inform</blockquote></li><br>
<li><blockquote>Respect the diversity of the community we are creating. This includes diversity of identities, backgrounds, experiences, opinions and ideas.</blockquote></li><br>
<li><blockquote>All criticism should be constructive and offered with sincere and positive intent</blockquote></li><br>
<li><blockquote>Our community is explicitly anti-oppressive. No violence or threats of violence will be tolerated.  Violence includes racist, sexist, homophobic, and any oppressive remarks/behaviors.</blockquote></li><br>
</ul>

<i><a href="https://www.loomio.org/discussions/4766">Click here to participate in the decision-making for the community guidelines</a></i>
