<h1>Contact Us</h1>

<p>info@ellajune.coop</p>

<p>Hey family! I'm Ericka and I'm working hard to create and coordinate EllaJune. I'm a community organizer and activist passionate about social justice, radical democracy, popular education and community media.</p>

<p>I dreamed of EllaJune after taking a web development course and reflecting on how there were very few web applications that were created by black people for black people. I believe deeply in the need for black people to create empowering communities in our own vision and that serve our needs. I envision EllaJune as building on the legacies of centuries of black activism and community building.</p>

<p>Send me lots of emails! I would love to be in touch. In order for this community to grow, we need to create as many partnerships and collaborations as possible.</p>