<h1>Contact Us!</h1>

<p>info@ellajune.coop</p>

<p>EllaJune was launched in the summer of 2013 by Ciara Burkett and Ericka Ward. They met at a web development training program and immediately bonded over the importance of using technology to help black people create empowering communities in our own vision and that serve our needs.</p>

<p>Ciara is an anti-authoritarian committed to localism and black entrepreneurship.  You can find her rambling @blackanarchism or working @ciaraburkett</p>

<p>Ericka is a community organizer and activist passionate about social justice, radical democracy, popular education and community media.</p>