<h1>Get Involved!</h1>

<h5>Participate in Decision-Making Processes</h5>
<p>
EllaJune is a radically democratic community. Our mission is inspired by the legacies of activist Ella Baker and June Jordan. These activists believed that the best way to create community and the most just way to create community is to give space for every stakeholder/community member to participate in the decision-making process. We encourage all our members to actively participate in the co-creation of EllaJune and we will be consistently working to improve our decision-making processes in order to further the empowerment of all members. <a href="https://www.loomio.org/groups/1062">We use loomio to facilitate democratic decision-making processes</a> This is not a suggestion box. All members have real power and we encourage all members to engage in meaningful dialogue around proposals. Please email info@ellajune.coop to join the loomio group. In full disclosure, EllaJune is working to become a cooperatively run nonprofit that has paid staff/core members. Decisions related to hiring is one area that may be less democratic just in order to protect the privacy and job security of staff members. Staff members will primarily be facilitators and coordinators that are working to realize the decisions that the greater community makes. 
</p>

<h5>Contribute Code</h5>
<p>
EllaJune is completely open source. <a href="https://github.com/ellajune/ellajune">Checkout our code at our github repo.</a> We encourage all members to submit pull requests to the website. Have a bug fix? That's great help! Have an idea for a new feature or functionality? Create It! <a href="https://www.loomio.org/discussions/4769">Engage in dialogue about our site's code at this loomio thread.</a> (Before we accept the pull request, the community will be given time to vote on the new feature at our loomio page) We are working to find more ways to support members to find ways to use EllaJune as a tool to learn how to code or improve their coding skills. Here are some great resources to get started:
<ul>
  <li>http://tryruby.org/
  <li>http://ruby.railstutorial.org/
  <li>http://railscasts.com/
</ul>
</p>

<h5>Become a Core Team Member</h5>
<p>
Contact us if you're interested in becoming a member of the core team that is working to make EllaJune a reality. Currently, all roles are unpaid volunteer positions but we are working to establish our funding model and pay core members for the work they do to sustain the EllaJune space. Our goal is to create a workplace that is democratic, empowering and supports a healthy work-life balance. Let us know what skills you can share with EllaJune, what your background is, and what interests you have.
<%= link_to "Contact Us!", contact_path %>  
</p>
