<h1>Get Involved</h1>

<h5>Become a Member</h5>
<p>
The EllaJune cooperative will be comprised of three types of members: (1) staff members, (2)media producer members and (3) community members.
</p>
<p>
Staff Members are the core team members that are paid by the community to coordinate the work of the cooperative. Staff members work to realize the decisions that the larger cooperative makes. 
</p>
<p>
Media Producer Members are members who contribute media that they’ve produced to EllaJune on a consistent basis. For example, this could include a web developer that spends a several hours every month contributing code to the EllaJune open source website or a video producer that creates a web series for the EllaJune community. We are currently exploring creative and sustainable ways that the community can support the media producer members financially by paying them for the work they offer to the community. There will be some community members that contribute media they’ve produced on an irregular or special project basis and they will not be considered media producer members at this moment.
</p>
<p>
Community Members are members that utilize the media that we all work to create. They sustain the community with their financial contributions, their participation in decision-making processes and their volunteer hours. Membership dues will be on a sliding scale so that we can create an inclusive space. Community members are not passive consumers, but actively collaborate with staff members and media producers to co-create media that meets their needs.
</p>
<p>
<i><%= link_to "Contact Us!", contact_path %></i> and tell us what type of membership you are interested in! If you are interested in becoming a staff member, please see our staff needs at the bottom of this page.
</p>

<h5>Organize an EllaJune Community Forum in your area</h5>
<p>
EllaJune is about building community. We need local community organizers that are deeply invested in democratic process and popular education to partner with us to host community forums so we can create spaces on the ground for our members to dream wildly and dream collaboratively about the possibilities for EllaJune. We need to mobilize our members to be active co-creators of EllaJune and not passive consumers. <i><%= link_to "Contact Us!", contact_path %></i>
</p>

<h5>Contribute Code</h5>
<p>
EllaJune is completely open source. <i><a href="https://github.com/ellajune/ellajune">Checkout our code at our github repo.</a></i> We encourage all members to submit pull requests to the website. Have a bug fix? That's great help! Have an idea for a new feature or functionality? Create It! <i><a href="https://www.loomio.org/discussions/4769">Engage in dialogue about our site's code at this loomio thread.</a></i> (Before we accept the pull request, the community will be given time to vote on the new feature at our loomio page) We are working to find more ways to support members to find ways to use EllaJune as a tool to learn how to code or improve their coding skills. Here are some great resources to get started:
<ul>
  <li>http://tryruby.org/</li>
  <li>http://ruby.railstutorial.org/</li>
  <li>http://railscasts.com/</li>
</ul>
</p>

<h5>Staff Needs:</h5>
<p>
<i><%= link_to "Contact us", contact_path %></i> if you're interested in becoming a member of the core team (and a future staff member) that is working to make EllaJune a reality. Currently, all roles are unpaid volunteer positions but we are actively working to establish our funding model and pay core team/staff members for the work they do to sustain the EllaJune space. Our goal is to create a workplace that is democratic, empowering and supports a healthy work-life balance. Let us know what skills you can share with EllaJune, what your background is, and what interests you have.
</p>
<p>
We are especially in need of a web programmer/designer to lead the development of the website. In addition to coding on the site yourself, this work could include working with freelancers, open-source contributors, and even helping to develop a code apprenticeship program.
</p>
<p>
We are also in need of a community coordinator that facilitates our community organizing efforts. This would include working with local activists to build our membership base and developing infrastructure for our radically democratic decision-making processes.
</p>
<p>
Lastly, we are also looking for someone to coordinate with our media producer members to ensure that EllaJune is a space that is actively sharing critical and empowering arts & media with our community.  If you don't see yourself fitting one of these roles, please still reach out to us.
</p>
