<h5>Mission Statement:</h5>
<p>EllaJune is a cooperatively run nonprofit that contributes to the development of a solidarity economy in the African Diaspora. We create spaces for African Diasporic changemakers to share support, resources and information with each other.</p>

<p>Our focus is using new media and technology to create an online community/website but our end goal is to facilitate as many spaces as possible for building radically democratic community, whether those spaces be physical or virtual.</p>

<h5>What Is A Black Changemaker?</h5>
<p>EllaJune is currently defining a Black changemaker as a person of the African Diaspora that is doing creative and transformative work to empower their own personal lives and to better their communities and the world. The Black changemakers of EllaJune believe in love, respect and social justice but have diverse political, spiritual, and life philosophies. Black changemakers live all over the world and have different nationalities, cultures and native languages.</p> 

<h5>Values:</h5>
<ul>
<li>Love: Love is the foundation for this community. Our members are driven by the love of their creative process, the love of transforming themselves and their communities, and the love of positive energy. We love our blackness just as we love our humanity. We love the African Diaspora just as we love the world.</li><br>
<li>Empowerment: We are creating this community together. Our members are not passive consumers. They are empowered creators that are actively building networks, support systems and transformative spaces through their work. </li><br>
<li>Openness & Transparency: We strive to move beyond the suggestion box model and give our members real power in shaping our website and community. We are working to create transparent democratic processes that empower our members to make the critical decisions that will shape the values and future of the website. We use <i><a href="https://www.loomio.org/groups/1062">loomio</a></i> to facilitate the decision-making process. Furthermore, our code base is completely open-source and accessible <i><a href ="https://github.com/ellajune/ellajune">here</a></i>. We encourage all of members to contribute code so we are working to create opportunities for our community to learn how to code.</li><br>
<li>Cooperativism: We strive to incorporate the principles of cooperativism into every aspect of EllaJune. We created EllaJune because we wanted to create a space where Black changemakers could cooperate and collaborate with each other.</li><br>
</ul>

<i><a href="https://www.loomio.org/discussions/3509">Click here to participate in the decision-making process for EllaJune’s mission, values and definitions</a></i>
<br>

<h5>Ella Baker and June Jordan</h5>
<p>Ella Baker(1903–1986) was an African-American civil rights activist that worked with many organizations including the NAACP, SCLC, SNCC and the Young Negroes Cooperative League. She worked on the frontlines of the fight for democracy for over 50 years. Her organizing style is a great example of popular education and participatory democracy. She inspired us with these powerful words:</p>
<ul>
<li><blockquote>"Strong people don't need strong leaders"</blockquote></li>
<li><blockquote>"The Negro must quit looking for a savior, and work to save himself."</blockquote></li>
<li><blockquote>"People cannot be free until there is enough work in this land to give everybody a job."</blockquote></li>
</ul>

<p>June Jordan(1936-2002) was a bisexual Caribbean-American writer and activist. Her writings paint our dreams of radical democracy: </p>
<ul>
<li><blockquote>“I would hope that we shall once again begin to build beloved community not looking for a leader but determined to respect and activate the leadership capacities within each one of us”</blockquote></li>
<li><blockquote>“Misbegotten American dreams have maimed us all. And one of these, especially, continues to distort and paralyze our simplest capabilities for cooperation as a species. Beloved, national myths about you and me as gloriously rugged, independent individuals pervade our consciousness.”</blockquote></li>
</ul>
