<h1>The Future of EllaJune</h1>

<p>What you see on this website is only the beginning! We want to continue to improve the website and add features that will further our mission of creating an online community that gives a space for African Diasporic changemakers to support and empower each other.</p>

<p>We are currently working to develop our community-supported funding model. We are working to secure a fiscal sponsorship and begin our journey of establishing EllaJune as a cooperatively run nonprofit. <%= link_to "Contact us if you can help us!", contact_path %> We are exploring the ideas of sliding-scale membership "dues", allied sponsorships, job listings and creating an online marketplace where members can support other African Diasporic enterpreneurs.</p>

<p>Once we generate more funding, <%= link_to "Ciara and I", contact_path %> have some proposals for project areas in mind that we would like to develop. Visit the loomio page to participate in the decision-making processes around these proposals.
<ul>
  <li>EllaJune Entrepreneurs: Central to the mission of EllaJune is supporting the work of African Diasporic social entrepreneurs and creators. It is critical that we use our power, resources, and money to support each other as a community. We want to create programs and projects that use technology to facilitate those support systems.
  <li>Code Apprenticeships: A small paid apprenticeship program for youth where they will learn how to code and then contribute code to the EllaJune open source project. They will also be able to experiment and do their own open source projects as well. Not only will they learn about programming and web development, the apprenticeships will also discuss social justice, social entrepreneurship and technology.
  <li>Arts & Technology: The goal would be to support the work of African Diasporic artists of various mediums that would like to use new & media technology to share their work. We could commission special projects that would be hosted on our website. The process of selecting projects will be democratic while also respecting the process of the artists. 
</ul>
</p>

<p>Help us create this community! There is so much creativity in the African Diaspora, we know folks have dope ideas! Share your ideas. Collaborate with other members to create the vision for EllaJune. But you get the final say! All members get to collectively decide what we want from and for this community.</p>

<a href="https://www.loomio.org/groups/1062">We use loomio to facilitate democratic decision-making processes about our future.</a> 