// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#post_tag_cloud {
  width: 62.5em;
  line-height: 1.3em;
  .s { font-size: 0.5em; }
  .m { font-size: 0.9em; }
  .l { font-size: 1.5em; }
}

#post_content {
  width: 350px; 
  height: 200px;
}